.control {
	border: 2px solid black;
	border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	background-color: #DDD;
	margin: 0 0 2em 0;
	font-size: 0.8em;
}

.control fieldset {
	border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-moz-border-radius: 7px;
}

.control label {
	margin-right: 2em;
}

.control form {
	padding: 0.4em;
	margin: 0.4em;
	clear: both;
}

.control input {
	width: 8em;
	font-size: 0.9em;
}

#refresh-set {
		float: left;
}

.refresh-submit {
	margin: 0.2em;
	float: right;
}
